.App {
  text-align: center;
}

select {
  font-size: 1.3rem;
}

select {
  background-color: skyblue;
  border: none;
  padding: 5px 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: solid black 1px;
}
select:focus {
  outline: solid black 3px;
}


#info {
  max-width: 800px;
  margin: auto;
  min-width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  color: white;
  padding: 10px;
}
#cases {
  background-color: darkblue;
}
#deaths {
  background-color: maroon;
}
#recovered {
  background-color: green;
}
@media (max-width: 580px){
  #info {
    grid-template-columns: 1fr 1fr;
  }
  #cases {
    grid-column: 1 / -1;
  }
  h2 {
    font-size: 1.1rem;
  }
  select {
    font-size: 1.1rem;
  }
}
@media (max-width: 310px){
  #info {
    grid-template-columns: 1fr;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  select {
    font-size: 0.97rem;
  }
}